<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Découvrir les places</ion-title>
  </ion-toolbar>
</ion-header>
<ion-segment (ionChange)='onFilterIUpdate($event)'>
  <ion-segment-button value='tous' checked>Places </ion-segment-button>
  <ion-segment-button value='reservable'>Places Reservables</ion-segment-button>
</ion-segment>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size='12' size-sm='8' offset-sm='2' text-center >


        <ion-card>
          <ion-card-header>
            <ion-card-title>{{loadedPlaces[0].titre}}</ion-card-title>
            <ion-card-subtitle>{{loadedPlaces[0].prix | currency }}</ion-card-subtitle>
            </ion-card-header>
            <ion-img [src]='loadedPlaces[0].imageUrl'></ion-img>
            <ion-card-content>
              <p>{{loadedPlaces[0].description}}</p>
            </ion-card-content>
            <div class="ion-text-center">
              <ion-button fill='clear' color='primary'
              routerDirection='forward'
              [routerLink]="['/','places','tabs','decouverte',loadedPlaces[0].id]">Plus
              </ion-button>
            </div>
        </ion-card>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size='12' size-sm='8' offset-sm='2' text-center >
         <ion-list>
          <ion-virtual-scroll [items]='listloadedPlaces'>
           <ion-item
           [routerLink]="['/','places','tabs','decouverte',place.id]" detail *virtualItem='let place'>

              <ion-thumbnail slot="start">
                <ion-img [src]='place.imageUrl'></ion-img>
            </ion-thumbnail>
                <ion-label>
                  <h2>{{place.titre}}</h2>
                  <h2>{{place.description}}</h2>
               </ion-label>
          </ion-item>
          </ion-virtual-scroll>
          </ion-list>
      </ion-col>
      </ion-row>

  </ion-grid>
</ion-content>
